@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap");
body {
    background-color: #292929;
    padding-top: 85px;
    font-family: 'Poppins', sans-serif;
}
.container1{
    background-image: url("imgs/back.jpg") ;
    margin-top: 0;
    position: relative;
    top:-100px;

}
h1 {
    font-family: 'Poppins', sans-serif, 'arial';
    font-weight: 600;
    font-size: 30px;
    color: white;
    text-align: center;
    position: relative;

    bottom:50%;
}
#h11{
    color: white;
}

h4 {
    font-family: 'Roboto', sans-serif, 'arial';
    font-weight: 400;
    font-size: 20px;
    color: #9b9b9b;
    line-height: 1.5;
}

/* ///// inputs /////*/
form{
    padding-bottom: 10%;
}
input:focus ~ label, textarea:focus ~ label, input:valid ~ label, textarea:valid ~ label {
    font-size: 0.75em;
    color: #999;
    top: -5px;
    -webkit-transition: all 0.225s ease;
    transition: all 0.225s ease;
}

.styled-input {
    float: left;
    width: 293px;
    margin: 1rem 0;
    position: relative;
    border-radius: 4px;
}

@media only screen and (max-width: 768px){
    .styled-input {
        width:100%;
    }
}

.styled-input label {
    color: #999;
    padding: 1.3rem 30px 1rem 30px;
    position: absolute;
    top: 10px;
    left: 0;
    -webkit-transition: all 0.25s ease;
    transition: all 0.25s ease;
    pointer-events: none;
}

.styled-input.wide {
    width: 650px;
    max-width: 100%;
}

input,
textarea {
    padding: 30px;
    border: 0;
    width: 100%;
    font-size: 2rem;
    background-color: rgba(1,1,1, .5);
    color: white;
    border-radius: 4px;
}

input:focus,
textarea:focus { outline: 0; }

input:focus ~ span,
textarea:focus ~ span {
    width: 100%;
    -webkit-transition: all 0.075s ease;
    transition: all 0.075s ease;
}

textarea {
    width: 100%;
    min-height: 15em;
}

.input-container {
    width: 650px;
    max-width: 100%;
    margin: 20px auto 25px auto;
}

.submit-btn {
    float: right;
    width: 50%;
    padding: 7px 35px;
    border-radius: 60px;
    display: inline-block;
    background-color: rgba(219, 207, 207, 0.719);
    color: rgb(67, 28, 28);
    font-size: 18px;
    cursor: pointer;
    transition: 1s;
}

.submit-btn:hover {
    /*transform: translateY(1px);
    box-shadow: 0 1px 1px 0 rgba(0,0,0,0.10),
    0 1px 1px 0 rgba(0,0,0,0.09);*/
    background: transparent;
    color: white;
    border-radius: 0;
    border-bottom: 2px solid #eee;
}

@media (max-width: 768px) {
    .submit-btn {
        width:100%;
        float: none;
        text-align:center;
    }
}

input[type=checkbox] + label {
    color: #ccc;
    font-style: italic;
}

input[type=checkbox]:checked + label {
    color: #f00;
    font-style: normal;
}



.template_faq {
    background: #edf3fe none repeat scroll 0 0;

}
.container{
    background-color: #292929;
}
.panel-group {
    background: #fff none repeat scroll 0 0;
    border-radius: 3px;
    box-shadow: 0 5px 30px 0 rgba(0, 0, 0, 0.04);
    margin-bottom: 0;
    padding: 30px;
}
#accordion .panel {
    border: medium none;
    border-radius: 0;
    box-shadow: none;
    margin: 0 0 15px 10px;
}
#accordion .panel-heading {
    border-radius: 30px;
    padding: 0;
}
#accordion .panel-title a {
    background:  rgba(117, 51, 51, 0.9) none repeat scroll 0 0;
    border: 1px solid transparent;
    border-radius: 30px;
    color: #fff;
    display: block;
    font-size: 18px;
    font-weight: 600;
    padding: 12px 20px 12px 50px;
    position: relative;
    transition: all 0.3s ease 0s;
}
#accordion .panel-title a.collapsed {
    background: #fff none repeat scroll 0 0;
    border: 1px solid #ddd;
    color: #333;
}
#accordion .panel-title a::after, #accordion .panel-title a.collapsed::after {
    background: rgb(67, 28, 28) none repeat scroll 0 0;
    border: 1px solid transparent;
    border-radius: 50%;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.58);
    color: #fff;
    content: "";
    font-family: fontawesome;
    font-size: 25px;
    height: 55px;
    left: -20px;
    line-height: 55px;
    position: absolute;
    text-align: center;
    top: -5px;
    transition: all 0.3s ease 0s;
    width: 55px;
}
#accordion .panel-title a.collapsed::after {
    background: #fff none repeat scroll 0 0;
    border: 1px solid #ddd;
    box-shadow: none;
    color: #333;
    content: "";
}
#accordion .panel-body {
    background: transparent none repeat scroll 0 0;
    border-top: medium none;
    padding: 20px 25px 10px 9px;
    position: relative;
}
#accordion .panel-body p {
    border-left: 1px dashed #8c8c8c;
    padding-left: 25px;
}
.try{
    width: 100%;
    height: 100%;

}
.try h1{
    color: black;
    font-size: 50px;
    padding: 0;
    margin-top: 0;
}
.tips{
    color:black;
}


.thing {
    float: top;
    display: inline-block;
    position: relative;
    top:100px;
    left:5%;
    margin-left: 0;
    padding: 5rem;
    width: 420px;
    box-shadow: 0 15px 30px 0 rgba(0,0,0,0.11),
    0 5px 15px 0 rgba(0,0,0,0.08);
    background-color:rgba(117, 51, 51, 0.9);
    color: white;
    border-radius: 0.5rem;


}



.thing > :first-child {
    margin-top: 0;
}

.thing > :last-child {
    margin-bottom: 0;
}

.heading {
    color: #fff;
}

/*newwwwwwwwwwwwwwww*/
#aui-flag-container {
    position: fixed;
    top: 60px;
    right: 30%;
    z-index: 4000;
}


#aui-flag-container>.aui-flag-stack>div.aui-flag-stack-top-item[aria-hidden="false"] {
    display: block;
    transition: transform .5s .5s,top .5s,opacity .8s;
}

.aui-flag[aria-hidden="false"] {
    opacity: 1;
    top: 0;
    left: 0;
}
.aui-flag {
    left: 0;
    max-height: 300px;
    opacity: 0;
    position: relative;
    top: -10px;
    transition: opacity .2s,top .5s;
}

.aui-flag .aui-message {
    box-shadow: 0 3px 6px rgba(0,0,0,0.2);
    margin-bottom: 20px;
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    border-radius: 3px;
    width: 500px;
}

aui-message:first-child, .aui-message:first-child {
    margin-top: 0;
}

.aui-message {
    background: #fff;
    border: 1px solid #3572b0;
    border-radius: 3px;
    color: #333;
    line-height: 20px;
    margin: 20px 0 0 0;
    overflow-wrap: break-word;
    padding-bottom: 20px;
    padding-left: 60px;
    padding-right: 40px;
    padding-top: 20px;
    position: relative;
    word-wrap: break-word;
    word-break: break-word;
}
.aui-message.warning, .aui-message-warning {
    background: #fff;
    border-color: #EDC211;
    color: #333;
}
.aui-message.error, .aui-message-error {
    background: #fff;
    border-color: #d04437;
    color: #333;
}

.aui-message.success, .aui-message-success {
    background: #fff;
    border-color: #669900;
    color: #333;
}

.aui-message.success:before, .aui-message-success:before {
    background-color: #669900;
}
.aui-message.error:before, .aui-message-error:before {
    background-color: #d04437;
}

.aui-message.warning:before, .aui-message-warning:before {
    background-color: #EDC211;
}
.aui-message:before {
    background-color: #3572b0;
}

.aui-message:before {
    background-color: #3572b0;
    bottom: 0;
    content: '';
    left: 0;
    position: absolute;
    top: 0;
    width: 40px;
}

.aui-message p.title {
    font-weight: bold;
}

.aui-message p.title strong {
    font-weight: inherit;
}


.aui-message.closeable:hover .icon-close, .aui-message.closeable .icon-close:focus, .aui-message.closeable:not(.fadeout):not(.aui-will-close) .icon-close {
    opacity: 1;
}

.aui-message.closeable .icon-close {
    top: 10px;
}

.aui-message.closeable .icon-close {
    cursor: pointer;
    left: auto;
    opacity: 0;
    position: absolute;
    right: 20px;
    top: 20px;
}

.aui-message .aui-icon.icon-close {
    background-image: none;
    color: #707070;
    text-indent: inherit;
}

.aui-message .aui-icon {
    background-position: center;
}

.aui-icon {
    background-repeat: no-repeat;
    border: none;
    display: inline-block;
    height: 16px;
    margin: 0;
    padding: 0;
    text-align: left;
    /*text-indent: -999em;*/
    vertical-align: text-bottom;
    width: 16px;
}

.aui-message.success:after, .aui-message-success:after {
    content: "\f05d";
    color: #fff;
}
.aui-message.warning:after, .aui-message-warning:after{
    content: "\f071";
    color: #fff;
}
.aui-message.error:after, .aui-message-error:after {
    content: "\f06a";
    color: #fff;
}

.aui-message:after {
    content: "\f05a";
    color: #fff;
}

.aui-message:after {
    color: #fff;
    font-family: 'FontAwesome';
    font-size: 18px;
    -webkit-font-smoothing: antialiased;
    font-style: normal;
    font-weight: normal;
    left: 12px;
    line-height: 1;
    margin-top: -8px;
    position: absolute;
    speak: none;
    top: 50%;
}
/*menu*/
@import url("https://fonts.googleapis.com/css?family=Varela+Round");
html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
    padding: 0;
    margin: 0;
    letter-spacing: 1.1px;
}



.menu {
    display: -webkit-box;
    display: flex;
    float: right;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    /*align-items: center-end;*/
    max-width: 720px;
    margin: 0 auto;
    height: 10vh;
    list-style: none;
    margin-top: 20px;
    margin-right: 25px;
}

.menu li {
    width: 100px;
    height: 50px;
    -webkit-transition: background-position-x 0.9s linear;
    transition: background-position-x 0.9s linear;
    text-align: center;
}
.menu li a {
    font-size: 18px;
    color: rgb(241, 239, 239);
    text-decoration: none;
    -webkit-transition: all 0.45s;
    transition: all 0.45s;
}
.menu li:hover {
    background: url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4KPHN2ZyB2ZXJzaW9uPSIxLjEi%0D%0AIGlkPSJMYXllcl8xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhs%0D%0AaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB4PSIwcHgiIHk9IjBweCIKCSB3aWR0%0D%0AaD0iMzkwcHgiIGhlaWdodD0iNTBweCIgdmlld0JveD0iMCAwIDM5MCA1MCIgZW5hYmxlLWJhY2tn%0D%0Acm91bmQ9Im5ldyAwIDAgMzkwIDUwIiB4bWw6c3BhY2U9InByZXNlcnZlIj4KPHBhdGggZmlsbD0i%0D%0Abm9uZSIgc3Ryb2tlPSIjZDk0ZjVjIiBzdHJva2Utd2lkdGg9IjEuNSIgc3Ryb2tlLW1pdGVybGlt%0D%0AaXQ9IjEwIiBkPSJNMCw0Ny41ODVjMCwwLDk3LjUsMCwxMzAsMAoJYzEzLjc1LDAsMjguNzQtMzgu%0D%0ANzc4LDQ2LjE2OC0xOS40MTZDMTkyLjY2OSw0Ni41LDI0My42MDMsNDcuNTg1LDI2MCw0Ny41ODVj%0D%0AMzEuODIxLDAsMTMwLDAsMTMwLDAiLz4KPC9zdmc+Cg==");
    -webkit-animation: line 1s;
    animation: line 1s;
}
.menu li:hover a {
    color: #aca3a3;
}
.menu li:not(:last-child) {
    margin-right: 0px;
}

@-webkit-keyframes line {
    0% {
        background-position-x: 390px;
    }
}

@keyframes line {
    0% {
        background-position-x: 390px;
    }
}
/*footerrrrrrrrrrr/
 */
.bg-grey {
    background: #292929;
    height: 280px;
    position: relative;
    padding-left: 150px;
    /* top: 100px; */
}
.logo-footer {
    margin-bottom: 40px;
    width: 70%;
}
footer {
    color: grey;
}
footer p, a {
    font-size: 12px;
    font-family: 'Roboto', sans-serif;
}
footer h6 {
    font-family: 'Playfair Display', serif;
    margin-bottom: 40px;
    position: relative;
}
footer h6:after {
    position: absolute;
    content: "";
    background: grey;
    width: 12%;
    height: 1px;
    left: 0;
    bottom: -20px;
}
.btn-footer {
    color: grey;

    text-decoration: none;
    border: 1px solid;
    border-radius: 43px;
    font-size: 13px;
    padding: 7px 30px;
    line-height: 47px;
}
.btn-footer:hover {

    text-decoration: none;

}
.form-footer input[type="text"] {
    border: none;
    border-radius: 16px 0 0 16px;
    outline: none;
    padding-left: 10px;

}
::placeholder {
    font-size: 10px;
    padding-left: 10px;
    font-style: italic;
}
.form-footer input[type="button"] {
    border: none;
    background:#232323;
    margin-left: -5px;
    color: #fff;
    outline: none;
    border-radius: 0 16px 16px 0;
    padding: 2px 12px;
}
.social .fa {
    color: grey;
    font-size: 22px;
    padding: 10px 15px;
    background: #3c3c3c;
}
footer ul li {
    list-style: none;
    display: block;
}
footer ul  {
    padding-left: 0;
}
footer ul  li a{
    text-decoration: none;
    color: grey;
    text-decoration:none;
}
a:hover {
    text-decoration: none;
    color: #f5f5f5 !important;

}
.logo-part {
    border-right: 1px solid grey;
    height: 100%;
}


